<h2>Utenti</h2>

<table class="users-admin">
  <tr>
    <th>nome</th>
    <th>email</th>
    <th>conteggio ban</th>
    <th>bannato</th>
    <th colspan="2">azioni</th>
  </tr>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.name %></td>
      <td><%= user.email %></td>
      <td><%= user.ban_count %></td>
      <td><%= user.banned %></td>
      <td><%= button_to_change_ban_status(user) %></td>
      <td><%= button_to 'elimina', admin_user_path(user), :class => 'destroy', :method => :delete %></td>
    </tr>
  <% end %>
</table>