<!DOCTYPE html>
<html>
<head>
  <title>PaleoClan</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <div id="container">
    <h1>Clan Longhi <%= l today.date %></h1>
    <section id="navigation">
      <%= link_to 'home',   root_path %> |
      <%= link_to 'regole', rules_path %> |
      <%= link_to 'menu',   menu_path %>
      <% admin_area do %>
        | <%= link_to 'users', admin_users_path %>
        | <%= link_to 'slots', admin_slots_path %>
        | <%= link_to 'bets', admin_bets_path %>
        | <%= link_to 'settings', edit_admin_settings_path %>
      <% end %>
    </section>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <%= image_tag '/paleobros.jpg' %>
    <footer>
      <p>happily started in MIKAMAI on january 16th 2013</p>
    </footer>
  </div>
</body>
</html>
